<%- include('../partials/head') -%>
<%- include('../partials/leflet') -%>
</head>
<%- include('../partials/body') -%>

<div id="map" class="flex-grow h-screen"></div>

<%- include('../place/add') -%>

<script>
    let data = JSON.parse('<%- JSON.stringify(data) %>');
</script>

<script src="./js/map.js"></script>

<%- include('../partials/footer') -%>
